# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


==============================
# Ignoring Folder Node Modules
==============================

Livro_AngularJS_na_prática/node_modules/*
Livro_AngularJS_na_prática/public/*
Livro_AngularJS_Uma_abordagem_prática_e_objetiva/node_modules/*
Livro_AngularJS_Uma_abordagem_prática_e_objetiva/public/*